body{
    background-color: honeydew;
}
#upweb{
    width: 1000px;
    height: 250px;
    margin: 0 auto;
    background-color: brown;
    position: relative;
}
.marta{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20px;
}
#m2{
    left: 800px;
}
#ptitle{
    position: absolute;
    top: 80px;
    left: 290px;
}
#subtitle{
    position: absolute;
    top: 120px;
    left: 450px;
}